BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "o_Active"   SITE "13" ;	// pin1 on TinyFPGA
LOCATE COMP "i_Clk"      SITE "14" ;	// pin2 on TinyFPGA
LOCATE COMP "i_Data"     SITE "16" ;	// pin3_sn on TinyFPGA

LOCATE COMP "o_Ident"    SITE "17" ;	// pin4_mosi on TinyFPGA
LOCATE COMP "o_Data"     SITE "20" ;	// pin5 on TinyFPGA

LOCATE COMP "reset_n"    SITE "21" ;	// pin6 on TinyFPGA

//LOCATE COMP "pin7_done"  SITE "23" ;	// pin7_done on TinyFPGA - unused
//LOCATE COMP "pin8_pgmn"  SITE "25" ;	// pin8_pgmn on TinyFPGA - unused
//LOCATE COMP "pin9_jtgnb" SITE "26" ;	// pin9_jtgnb on TinyFPGA - unused
//LOCATE COMP "pin10_sda"  SITE "27" ;	// pin10_sda on TinyFPGA - unused
//LOCATE COMP "pin11_scl"  SITE "28" ;	// pin11_scl on TinyFPGA - unused

// pin 12_tdo on TinyFPGA (site "1") reserved for JTAG
// pin 13_tdi on TinyFPGA (site "32") reserved for JTAG
// pin 14_tck on TinyFPGA (site "30") reserved for JTAG
// pin 15_tms on TinyFPGA (site "29") reserved for JTAG

LOCATE COMP "o_WriteLED" SITE "4" ;		// pin16 on TinyFPGA
LOCATE COMP "o_ReadLED"  SITE "5" ;		// pin17 on TinyFPGA

LOCATE COMP "sp_cs_n"    SITE "8" ;		// pin18_cs on TinyFPGA
LOCATE COMP "sp_clk"     SITE "9" ;		// pin19_sclk on TinyFPGA
LOCATE COMP "sp_miso"    SITE "10" ;	// pin20_miso on TinyFPGA
LOCATE COMP "sp_mosi"    SITE "11" ;	// pin21 on TinyFPGA
LOCATE COMP "sp_hold_n"  SITE "12" ;	// pin22 on TinyFPGA


